*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 80ch;
}

:root {
  color-scheme: light dark;
  --color-hsl: 0deg 0% 40%;
  --color-light-hsl: 0deg 0% 50%;
  --color-dark-hsl: 0deg 0% 10%;
  --color-background-hsl: 0deg 0% 100%;
  --animation-time: 270ms;
  --color-shadow: 0deg 0% 71%;
  /* @link https://utopia.fyi/type/calculator?c=320,12,1.2,900,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size-0: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
  --font-size-1: clamp(0.9rem, 0.7069rem + 0.9655vw, 1.25rem);
  --font-size-2: clamp(1.08rem, 0.8138rem + 1.331vw, 1.5625rem);
  --font-size-3: clamp(1.296rem, 0.9334rem + 1.8128vw, 1.9531rem);
  --font-size-4: clamp(1.5552rem, 1.0663rem + 2.4447vw, 2.4414rem);
  --font-size-5: clamp(1.8662rem, 1.2122rem + 3.2704vw, 3.0518rem);
  /* @link https://utopia.fyi/space/calculator?c=320,12,1.2,900,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
  --space-3xs: clamp(0.1875rem, 0.153rem + 0.1724vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.306rem + 0.3448vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.4591rem + 0.5172vw, 0.75rem);
  --space-s: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
  --space-m: clamp(1.125rem, 0.9181rem + 1.0345vw, 1.5rem);
  --space-l: clamp(1.5rem, 1.2241rem + 1.3793vw, 2rem);
  --space-xl: clamp(2.25rem, 1.8362rem + 2.069vw, 3rem);
  --space-2xl: clamp(3rem, 2.4483rem + 2.7586vw, 4rem);
  --space-3xl: clamp(4.5rem, 3.6724rem + 4.1379vw, 6rem);
  --content-max-width: 900px;
  --breakout-max-width: 1240px;
  --breakout-size: calc( (var(--breakout-max-width) - var(--content-max-width)) / 2 );
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-hsl: 0deg 0% 70%;
    --color-light-hsl: 0deg 0% 50%;
    --color-dark-hsl: 0deg 0% 90%;
    --color-background-hsl: 0deg 0% 0%;
  }
}
@media (prefers-reduced-motion: reduced) {
  :root {
    --animation-time: 0ms;
  }
}

html {
  overflow: hidden;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 200;
  background-color: hsl(var(--color-background-hsl));
  color: hsl(var(--color-hsl));
  position: relative;
  height: 100dvh;
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--space-s), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--space-s) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--space-s), 1fr) [full-width-end];
  overflow: auto;
  background-color: hsl(var(--color-background-hsl));
  scrollbar-gutter: stable;
}
body:has(.nav-trigger:checked), body:has(.nav-trigger ~ #nav:focus-within), body:has(.gallery > article:focus) {
  overflow: hidden;
}

.nav-trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for=nav-trigger] {
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--animation-time) ease-in-out;
  display: inline-flex;
  transform: rotate(-90deg);
  color: hsl(var(--color-light-hsl));
}
label[for=nav-trigger]:hover {
  color: hsl(var(--color-dark-hsl));
}
label[for=nav-trigger] span {
  transition: transform var(--animation-time) ease-in-out, opacity var(--animation-time) ease-in-out;
}
label[for=nav-trigger] span:first-child {
  display: none;
}

.nav-trigger:has(~ #nav:focus-within) ~ * label[for=nav-trigger] > span:nth-child(2),
.nav-trigger:checked ~ * label[for=nav-trigger] > span:nth-child(2) {
  transform: translateX(40%) rotate(-135deg);
}
.nav-trigger:has(~ #nav:focus-within) ~ * label[for=nav-trigger] > span:nth-child(3),
.nav-trigger:checked ~ * label[for=nav-trigger] > span:nth-child(3) {
  opacity: 0;
}
.nav-trigger:has(~ #nav:focus-within) ~ * label[for=nav-trigger] > span:nth-child(4),
.nav-trigger:checked ~ * label[for=nav-trigger] > span:nth-child(4) {
  transform: translateX(-110%) translateY(5%) rotate(135deg);
}

body > menu {
  grid-column: full-width;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  z-index: 200;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: var(--space-l);
  transition-property: display opacity;
  transition-duration: var(--animation-time);
  transform-style: ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 0;
  background-color: hsl(var(--color-background-hsl)/0.8);
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  padding-top: var(--space-3xl);
}
body > menu section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
body > menu section h3 {
  font-weight: 100;
  font-size: var(--font-size-3);
  margin-bottom: var(--space-s);
}
body > menu section a {
  font-weight: 100;
  font-size: var(--font-size-3);
  text-decoration: none;
  color: hsl(var(--color-light-hsl));
}
body > menu section a:hover {
  color: hsl(var(--color-dark-hsl));
}
body > menu section a.active {
  color: hsl(var(--color-dark-hsl));
}

menu:focus-within,
.nav-trigger:checked ~ menu {
  display: flex;
  opacity: 1;
}
@starting-style {
  menu:focus-within,
.nav-trigger:checked ~ menu {
    opacity: 0;
  }
}

header {
  grid-column: full-width;
  display: grid;
  align-items: center;
  grid-template-columns: inherit;
  z-index: 250;
  background-color: hsl(var(--color-background-hsl));
  height: var(--space-2xl);
  position: sticky;
  top: 0;
  margin-top: var(--space-l);
}
header div {
  grid-column: breakout;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header div h2 {
  font-size: var(--font-size-4);
  letter-spacing: 0.1em;
  font-weight: 100;
}
header div nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-s);
  font-size: var(--font-size-3);
}
header div a {
  color: hsl(var(--color-light-hsl));
  text-decoration: none;
  border-bottom: solid 1px hsl(var(--color-hsl)/0.1);
}
header div a:hover {
  color: hsl(var(--color-dark-hsl));
  border-bottom: solid 1px hsl(var(--color-hsl)/0.3);
}

main {
  grid-column: content;
  margin-top: var(--space-2xl);
}
main > h1 {
  margin: 0 calc(var(--space-s) * -1) var(--space-l) calc(var(--space-s) * -1);
  padding: 0 var(--space-s);
  font-size: var(--font-size-4);
  letter-spacing: 0.1em;
  font-weight: 100;
  border-bottom: solid 1px hsl(var(--color-hsl)/0.3);
}
main > h2 {
  margin: 0 calc(var(--space-s) * -1) var(--space-m) calc(var(--space-s) * -1);
  padding: 0 var(--space-s);
  font-size: var(--font-size-3);
  letter-spacing: 0.1em;
  font-weight: 100;
  border-bottom: solid 1px hsl(var(--color-hsl)/0.3);
  background-color: hsl(var(--color-background-hsl));
  position: relative;
  z-index: 190;
  outline: solid var(--space-m) hsl(var(--color-background-hsl));
}
main > p {
  margin-bottom: var(--space-m);
  font-size: var(--font-size-2);
  letter-spacing: 0.02em;
  text-align: justify;
}
main .gallery {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--space-3xs);
  position: relative;
  border-bottom: solid var(--space-m) hsl(var(--color-background-hsl));
}
@media (width <= 600px) {
  main .gallery {
    margin: 0 calc(var(--space-s) * -1) 0 calc(var(--space-s) * -1);
  }
}
main .gallery > article {
  flex-grow: calc(var(--width) * (100000 / var(--height)));
  flex-basis: calc(var(--space-s) * 15 * (var(--width) / var(--height)));
  position: relative;
  background-color: hsl(var(--color-background-hsl));
  cursor: zoom-in;
}
main .gallery > article > picture {
  aspect-ratio: var(--width)/calc(var(--height)* 2);
  display: inline-block;
  vertical-align: top;
  margin-bottom: max(-100% / (var(--width) / var(--height)), max(-100dvh, var(--height) * -1px));
  background-color: hsl(var(--color-background-hsl));
  outline: solid var(--space-3xs) hsl(var(--color-background-hsl));
}
main .gallery > article img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
  position: sticky;
  top: var(--space-2xl);
}
main .gallery > article picture + aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--space-m);
  line-height: var(--space-m);
  display: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: var(--font-size-0);
  transition-property: display opacity;
  transition-duration: var(--animation-time);
  transform-style: ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 0;
  z-index: 350;
  pointer-events: none;
}
main .gallery > article picture + aside p {
  padding-inline: var(--space-2xs);
}
main .gallery > article figure {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  transition-property: display opacity;
  transition-duration: var(--animation-time);
  transform-style: ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--color-background-hsl)/0.85);
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  cursor: default;
}
main .gallery > article figure::before {
  content: " ";
  position: fixed;
  width: 10rem;
  height: 2px;
  background: linear-gradient(hsl(var(--color-light-hsl)/0.6) 0 0) left -25% top 0/20% 100% no-repeat hsl(var(--color-background-hsl)/0.4);
  animation: ct7 1s infinite steps(6);
}
@keyframes ct7 {
  100% {
    background-position: right -25% top 0;
  }
}
main .gallery > article figure > a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: zoom-out;
}
main .gallery > article figure > a::after {
  content: "+";
  user-select: none;
  position: fixed;
  top: 0;
  right: var(--space-2xs);
  z-index: 101;
  color: hsl(var(--color-hsl));
  cursor: pointer;
  font-size: var(--font-size-5);
  font-weight: 100;
  text-indent: 0;
  height: var(--font-size-5);
  line-height: var(--font-size-5);
  overflow: hidden;
  transform: rotate(45deg);
}
main .gallery > article figure img {
  outline: none;
  pointer-events: none;
  position: relative;
  z-index: 190;
  top: 0;
  display: block;
  width: auto;
  height: auto;
  max-width: 100dvw;
  max-height: calc( 100dvh - (var(--space-m) * 2));
  box-shadow: 0px 0px var(--space-l) 0px hsl(var(--color-background-hsl));
}
main .gallery > article:focus > picture + aside, main .gallery > article:target > picture + aside {
  display: flex;
  opacity: 1;
}
@starting-style {
  main .gallery > article:focus > picture + aside, main .gallery > article:target > picture + aside {
    opacity: 0;
  }
}
main .gallery > article:focus figure, main .gallery > article:target figure {
  display: flex;
  opacity: 1;
}
@starting-style {
  main .gallery > article:focus figure, main .gallery > article:target figure {
    opacity: 0;
  }
}
main .gallery > article:focus figure img, main .gallery > article:target figure img {
  transition: all var(--animation-time);
}
main .gallery > article:focus figure.zooming img, main .gallery > article:target figure.zooming img {
  transition: none;
  transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));
  -webkit-transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));
}
main .gallery:after {
  content: " ";
  flex-grow: 1000000000;
  background: hsl(var(--color-background-hsl));
  position: relative;
  outline: solid var(--space-3xs) hsl(var(--color-background-hsl));
  heigth: 200%;
}

footer {
  grid-column: breakout;
  display: flex;
  z-index: 100;
  background: hsl(var(--color-background-hsl));
  align-items: start;
  justify-content: space-between;
  height: calc(100dvh - var(--space-2xl) + 1px);
  outline: solid var(--space-m) hsl(var(--color-background-hsl));
  padding-top: var(--space-l);
}
footer div {
  font-size: var(--font-size-1);
  color: hsl(var(--color-light-hsl));
  text-wrap: nowrap;
}
footer menu {
  grid-column: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: var(--space-m);
}
footer menu section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
footer menu section h4 {
  font-weight: 100;
  font-size: var(--font-size-1);
  margin-bottom: var(--space-xs);
}
footer menu section a {
  font-weight: 100;
  font-size: var(--font-size-1);
  text-decoration: none;
  color: hsl(var(--color-light-hsl));
}
footer menu section a:hover {
  color: hsl(var(--color-dark-hsl));
}
footer menu section a.active {
  color: hsl(var(--color-dark-hsl));
}